.ProfilePage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f5f8;
}

.Profile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.coverPhotoContainer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #111111;
}

.coverPhoto {
  width: 100%;
  height: 100%;
}

.profileImage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40px;
  left: 100px;
  outline: 10px solid #2fd671;
}
.profileimagestats {
  position: absolute;
  top: 34px;
  left: 174px;
}
.profile-navbar-buttons-container {
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile-navbar-buttons {
  display: flex;
}

.profile-navbar-buttons button {
  color: white;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  background-color: transparent;
  border: none;
  font-size: 20px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.profile-navbar-buttons button:hover {
  color: #111111;
  background-color: #3cd679;
}
.hoversettings {
  margin-right: 10px;
}
.hoversettings:hover {
  color: #111111;
  background-color: transparent !important;
}
.hoversettings:hover svg path {
  fill: #3cd679;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  gap: 10px;
}

.username-profile {
  color: white;
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.followerscount-profile {
  color: #cbcbcb;
  font-size: 16px;
}
.label-profilepage {
  font-weight: bold;
  font-size: 16px;
}
.greycolor-profilepage {
  color: #b8b8b8 !important;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
.profileimagestats-info {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #313131;
  padding: 15px;
  border-radius: 8px;
  width: 280px;
}
.profileimagestats-info-wrapper {
  display: flex;
}
.profileimagestatsusername-info {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  width: 280px;
}
.coverimageuserstats {
  position: absolute;
  right: 59px;
  top: 52px;
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .profile-navbar-buttons button {
    font-size: 16px;
    padding: 10px;
  }
  .user-info {
    margin-left: 90px;
  }
  .profileImage {
    width: 80px;
    height: 80px;

    top: 25px;
    left: 0px;
  }
  .username-profile {
    font-size: 20px;
  }

  .followerscount-profile {
    font-size: 14px;
  }
}
.profilepageactive {
  background-color: #3cd679 !important;
}
.profile-pages-info {
  height: 100%;
  flex-grow: 1;
}
.profile-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  margin-bottom: 20px;
  min-height: 100%;
}
.overview-container {
  margin-bottom: 40px;
}
.overview-content-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.overview-content-wrapper {
  background-color: #292929;
  width: 330px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-content-gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.red {
  color: #fc3d3d;
}
.green {
  color: #00ff65;
}
.overview-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
  gap: 20px;
  font-family: "Rubik", sans-serif;
}
.overview-stats-wins {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
.overview-stats-wins span {
  width: 70px;
  display: flex;
  justify-content: flex-end;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  padding: 5px;
}
.overview-stats-points {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;

  padding: 1px;
}
.winrate {
  width: 100px;
}
.win {
  font-size: 24px !important;
  width: 100px;
  font-weight: 600;
}
.loss {
  font-size: 24px !important;
  font-weight: 600;
  width: 100px;
}
.pages-overview {
  display: flex;

  align-items: center;
  margin-top: 20px;
}
.pageopen {
  color: #2fd671 !important;
  border-bottom: 3px solid #2fd671 !important;
}
.pages-overview button {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: white;
  border: none;
  font-family: "Rubik", sans-serif;

  background-color: transparent;
  border-bottom: 3px solid #989898;
}
.tournament-content-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.tournament-content-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  align-items: center;

  width: 73.5%;
  min-height: 700px;
}
.tournamentactive {
  color: #2fd671 !important;
  border-bottom: 3px solid #2fd671 !important;
}
.tournament-profilecard {
  background-color: #3a3a3a;
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
  gap: 60px;
  display: flex;
  align-items: center;
  color: white;
}
.tournaments-results-wrapper {
  margin-top: 40px;
  width: 80%;
}
.points-span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
.notournaments {
  color: white;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
}

@media screen and (max-width: 700px) {
  .coverPhotoContainer {
    position: relative;
    width: 100%;
    height: 60px;
  }
  .user-info {
    margin-left: 65px;
  }
  .profileImage {
    width: 60px;
    height: 60px;

    top: -14px;
    left: 0px;
  }
  .profile-navbar-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .profile-navbar-buttons button {
    font-size: 11px;
    padding: 5px;
  }

  .username-profile {
    font-size: 14px;
  }

  .followerscount-profile {
    font-size: 11px;
  }
}
