.ProfilePage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Profile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.coverPhotoContainer {
  position: relative;
  width: 100%;
  height: 180px;
}

.coverPhoto {
  width: 100%;
  height: 100%;
}

.profileImageContainer {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
}

.profileImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 14px;
  left: 40px;
}

.profile-navbar-buttons-container {
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile-navbar-buttons {
  display: flex;
}

.profile-navbar-buttons button {
  color: white;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  background-color: transparent;
  border: none;
  font-size: 20px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.profile-navbar-buttons button:hover {
  color: #111111;
  background-color: #3cd679;
}
.hoversettings {
  margin-right: 10px;
}
.hoversettings:hover {
  color: #111111;
  background-color: transparent !important;
}
.hoversettings:hover svg path {
  fill: #3cd679;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}

.username-profile {
  color: white;
  font-size: 26px;
}

.followerscount-profile {
  color: #cbcbcb;
  font-size: 16px;
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .profile-navbar-buttons button {
    font-size: 16px;
    padding: 10px;
  }
  .user-info {
    margin-left: 90px;
  }
  .profileImage {
    width: 80px;
    height: 80px;

    top: 25px;
    left: 0px;
  }
  .username-profile {
    font-size: 20px;
  }

  .followerscount-profile {
    font-size: 14px;
  }
}
.profilepageactive {
  background-color: #3cd679 !important;
}
.profile-pages-info {
  height: 100%;
  flex-grow: 1;
}
.profile-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  margin-bottom: 20px;
  min-height: 100%;
}
@media screen and (max-width: 700px) {
  .coverPhotoContainer {
    position: relative;
    width: 100%;
    height: 60px;
  }
  .user-info {
    margin-left: 65px;
  }
  .profileImage {
    width: 60px;
    height: 60px;

    top: -14px;
    left: 0px;
  }
  .profile-navbar-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .profile-navbar-buttons button {
    font-size: 11px;
    padding: 5px;
  }

  .username-profile {
    font-size: 14px;
  }

  .followerscount-profile {
    font-size: 11px;
  }
}
