.navcommunity {
  background-color: #252525;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navcommunity button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2fd671;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunity button:hover {
  background-color: #393939;
}
