.CommunityDropdown {
  position: absolute;
  top: 55px;
  background-color: #111111;
  border-radius: 5px;
  z-index: 100;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-button {
  padding: 10px;
  width: 100%;
  color: white;
  background-color: #111111;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  font-size: 16px !important;
  align-items: center;
  transition: font-size 0.3s;
}

.dropdown-button svg {
  margin-right: 10px;
}

.dropdown-button:hover {
  background-color: #28ac5d;
  border-radius: 5px;
}
