.FollowingActivityPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navcommunityfollowing {
  background-color: #252525;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 472px;
}
.navcommunity-wrapper {
  background-color: #252525;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.navcommunityfollowing button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2fd671;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunityfollowing button:hover {
  background-color: #393939;
}
.thispage {
  color: #2fd671 !important;
}
.inputtext-search-following {
  background-color: transparent;
  border: none;
  color: #a4a3a3;
  padding: 10px;
  width: 100%;
  margin-left: 5px;
}
.followingnavbarsearch-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
}
.followingnavbarsearch {
  display: flex;
  padding: 5px 10px;

  align-items: center;
  background-color: #ffffff10;
  border-radius: 7px;
}

.followingnavbarsearch input:focus {
  outline: 2px solid #2fd67200;
}

.followingnavbarsearch:focus-within svg path {
  fill: #2fd671;
}
.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .navcommunityfollowing {
    margin-right: 0px;
  }
  .followingnavbarsearch-wrapper {
    margin-right: 10px;
  }
}
