.FollowingActivityPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navcommunityfollowing {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 472px;
}
.navcommunity-wrapper {
  background-color: #111111;
  display: flex;
  flex-direction: row;
  height: 100px;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.navcommunityfollowing button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  padding: 20px 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunityfollowing button:hover {
  color: #2fd671;
}
.thispage {
  color: #2fd671 !important;
}
.inputtext-search-following {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: medium;
}
.followingnavbarsearch-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.followingnavbarsearch {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  max-width: 700px;
  position: relative;
  margin-right: 30px;
  background-color: white;
}
.followingnavbarsearch svg {
  margin-left: 10px;
}
.followingnavbarsearch input:focus {
  outline: 2px solid #2fd67200;
  font-weight: 500;
}
.followingnavbarsearch:focus-within {
  border: 3px solid #269c55;
}

.followingnavbarsearch:focus-within svg path {
  fill: #269c55;
}
.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .navcommunityfollowing {
    margin-right: 0px;
  }
  .followingnavbarsearch-wrapper {
    margin-right: 10px;
  }
}
