.FollowingDropdown {
  position: absolute;
  top: 55px;
  background-color: #202020;
  border-radius: 5px;
  z-index: 100;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 250px;
  overflow-y: scroll;
}

.dropdown-button {
  padding: 10px;
  width: 100%;
  color: white;
  background-color: #111111;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  font-size: 16px !important;
  align-items: center;
  transition: font-size 0.3s;
}

.dropdown-button svg {
  margin-right: 10px;
}

.dropdown-button:hover {
  background-color: #28ac5d;
  border-radius: 5px;
}
.search-wrapper {
  padding: 10px;
}
.search {
  display: flex;
  background-color: #ffffff10;
  padding: 10px;
  border-radius: 7px;
}
.search svg path {
  fill: #a4a3a3;
}
.searchinput {
  background-color: transparent;
  border: none;
  color: #a4a3a3;
  width: 90%;
  margin-left: 5px;
}
.searchinput.focused {
  outline: 2px solid #2fd67200;
}
.search.focused svg path {
  fill: #2fd671;
}
.following-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.filteredusers-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.followinguser-usercard {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 10px;
  background-color: #313131;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.followinguser-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0;
  margin-left: 7px;
}
.following-span {
  color: white;
}
.followinguser-username {
  font-size: 16px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  color: #fff;
  margin: 10px;
}
.follow-list-button {
  border: none !important;
  background-color: #2c2c2c !important;
  color: #3cd679 !important;
  border-radius: 7px;
  padding: 5px 8px !important;
  font-size: 16px !important;
}
.follow-list-button:hover {
  border: none !important;
  background-color: #2c2c2c !important;
  color: #3cd679 !important;
  border-radius: 7px;
  padding: 5px 8px !important;
}
