.PostCard {
  background-color: #ffffff77;
  display: flex;
  width: 600px;
  height: 800px;
}
.vote-wrapper {
  background-color: #111;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  height: 100%;
  padding: 0px 5px;
  border-radius: 20px 0 0 20px;
}
.postcontent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 0 20px 20px 0;
}
.post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  gap: 10px;
  padding-top: 15px;
  padding-left: 10px;
  background-color: #252525;
  border-radius: 0 20px 0 0;
}
.userinfo-post {
  display: flex;
  flex-direction: row;

  gap: 5px;
}
.poster-info {
  display: flex;
  flex-direction: column;
}
.display-carousel {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  background-color: #252525;
}
.post-interactions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #252525;
  height: 20%;
  border-radius: 0 0 20px 0;
}
.comments-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.share-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.vote-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-content: center;
}
.votecount {
  color: white;
  font-family: "Rubik", sans-serif;
}
.userinfo-post img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.poster-info-child {
  display: flex;
}
.poster-username {
  color: white;
  font-size: 18px;
  font-family: "'Rubik'", sans-serif;
  font-weight: 500;
}
.post-forumlink {
  color: #898787;
}
.post-forumlink a {
  text-decoration: none;
  cursor: pointer;
  color: #898787;
}
.post-date {
  color: #898787;
  font-size: 12px;
  font-family: "'Rubik'", sans-serif;
}
.post-description {
  color: #ffffffbd;
  margin-top: 5px;
  font-family: "'Rubik'", sans-serif;
  font-size: 20px;
}
.interactions-info {
  color: #ffffffbd;
}
.postlinks {
  text-decoration: none;
  cursor: pointer;
  color: #ffffffbd;
}
.displayfiles-carousel {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;

  padding-left: 20px;
  padding-right: 20px;
}
.carousel-root {
  width: 100%;
  height: 100%;
}
.carousel {
  width: 100%;
  height: 100%;
}
.displayfiles-carousel img,
.displayfiles-carousel video {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.upvote {
  cursor: pointer;
}
.downvote {
  cursor: pointer;
}
.post-commentslist {
  display: flex;

  flex-direction: column;
  overflow: auto;

  gap: 10px;
  background-color: #252525;
  height: 100%;
}
.post-comment-add {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.border-left {
  padding: 20px;
  margin-left: 10px;
  border-left: 3px solid grey;
}
.profilepicimage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.postcomment-input {
  padding: 10px 5px;
  border-radius: 7px;
  background-color: #ffffff77;
  size: 20px;
  color: rgb(255, 255, 255);

  width: 78%;
}
.postcomment-input::placeholder {
  color: #ffffff;
}
.comment-span {
  color: rgb(154, 154, 154);
  font-size: 20px;
}

.comment-name-span {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 15px;
}

.profilepicloadedcomment {
  display: flex;

  gap: 5px;
  margin-top: 5px;
}
.profilepicloadedcomment-wrapper {
  display: flex;
}
.comment-span-wrapper {
  margin-top: 5px;
  margin-left: 5px;
}
.hrefusername {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.delete-post {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.delete-post svg {
  cursor: pointer;
}
