@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
body,
html {
  margin: 0;
  padding: 0;

  font-family: "Rubik", sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
