.ForumPage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navcommunity {
  background-color: #252525;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navcommunity button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2fd671;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunity button:hover {
  background-color: #393939;
}
.searchgames-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchgames-results {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.searchgames-iconsvg {
  margin-left: 10px;
}
.searchgames-icon {
  fill: #9e9e9e;
}
.searchgamesbar {
  margin-left: 5px;
}
.searchgamesbar {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80%;
  max-width: 500px;
  position: relative;
}
.searchgamesinput {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 90%;
  font-size: medium;
}
.searchgamesinput:focus {
  outline: none !important;

  font-weight: 550;
}
.searchgamesbar.focused {
  border: 3px solid #269c55;
}

.searchgames-icon.focused {
  fill: #269c55;
}
