.dot {
  background-color: #ffffff !important;
  opacity: 1 !important;
  width: 14px !important;
  height: 14px !important;
  margin: 0 5px !important;
}

.dot:hover {
  width: 14px !important;
  height: 14px !important;
  background-color: #2fd671 !important;
}

.dot.selected {
  width: 14px !important;
  height: 14px !important;
  background-color: #2fd671 !important;
}
