.arrow {
  width: 50px;
  height: 50px;
  background-color: #202020;
  border-radius: 15px;
  display: flex;

  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow svg {
  width: 20px;
  height: 20px;
}
.card-image {
  width: 315px;
  height: 330px;
}
.card-content {
  width: 315px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 315px;
  border: 3px solid #252525;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
}
.carousel-card-content {
  margin-bottom: 20px;
}
.carousel-container {
  position: relative;
}

.prev-arrow {
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
  margin-left: 10px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 15px 19px rgba(30, 67, 48, 0.238);
}
.next-arrow {
  position: absolute;
  right: -55px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.carousel-card {
  margin-top: 30px;

  width: 100%;
  height: 100%;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: xx-large;
  margin-top: 100px;
}
