.ForgotPasswordPage {
  background-color: #252525;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.forgotpassword-container {
  background-color: #00000030;
  min-width: 400px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.forgotpassword-title-wrapper {
  display: flex;

  gap: 50px;

  justify-content: center;
  align-items: center;
}
.forgotpassword-title {
  color: #32ff83;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  cursor: pointer;
  font-weight: 550;
  line-height: 120%;
}
.forgotpassword-form {
  display: flex;
  margin-top: 50px;

  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.forgotpassword-input {
  padding: 10px;
}
.forgotpassword-input:focus {
  outline: 2px solid #c0ffc7;
}
.forgotpassword-span {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 550;
  line-height: 120%;
}
.forgotpassword-button {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 7px;
  background-color: #2fd671;
  color: #202020;
  border: none;

  cursor: pointer;
  transition: background-color 0.3s;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.backbutton {
  position: absolute;
  left: -20px;
  cursor: pointer;
}
.errormsg {
  color: #ff4b4b;
}
p {
  color: white;
  font-size: 16px;
}
@media screen and (max-width: 500px) {
  .forgotpassword-container {
    min-width: 250px;
  }
  .forgotpassword-title-wrapper {
    margin-left: 20px;
  }
  .forgotpassword-title {
    font-size: 26px;
  }
}
