.hero-section {
  background-color: #111;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-section {
  padding-top: 10px;
  padding-bottom: 10px;
}
.forumscarousel {
  margin: 0 auto;
  width: 90%;
}
