.cardlink {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.card-image {
  width: 300px;
  height: 400px;
}

.tournament-card-content {
  width: 100%;
  background-color: #252525;
  color: #ffffff;
  padding: 3px;
  box-sizing: border-box;
}

.card {
  width: 300px;
  height: 494px;

  box-shadow: 2px 10px 12px rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
}

.tournament-name {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 12px;
}
.tournament-completed {
  font-size: 14px;
  font-family: "Rubik", sans-serif;

  margin-left: 12px;
  margin-top: 10px;
}

.tournament-startdate {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-align: right;
  margin-top: auto;
  margin-bottom: 13px;
  color: #a0ffaa;
  margin-right: 13px;
}
