.ProfilePageView {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f2f5f8;
}

.Profile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.coverPhotoContainer {
  position: relative;
  width: 100%;
  height: 300px;
}
.profilepageactive {
  color: #3cd679 !important;
}
.coverPhoto {
  width: 100%;
  height: 100%;
}

.profileImage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40px;
  left: 100px;
  outline: 10px solid #2fd671;
}

.profile-navbar-buttons-container {
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.profile-navbar-buttons {
  display: flex;
  padding: 15px 60px;
}

.profile-navbar-buttons button {
  color: white;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  background-color: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.profile-navbar-buttons button:hover {
  color: #3cd679;
}
.shifter {
  display: flex;
  margin-right: 180px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}

.username-profile {
  color: white;
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.followerscount-profile {
  color: #cbcbcb;
  font-size: 16px;
}
.viewbuttons {
  background-color: #2fd671 !important;
  color: rgb(0, 0, 0) !important;
  border-radius: 12px !important;
  padding: 10px !important;
  gap: 5px !important;
  font-family: "Rubik", sans-serif !important;
  font-weight: 500 !important;
  margin: 10px !important;
  border: none !important;
  font-size: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  cursor: pointer !important;
  padding: 0px 30px !important;
}

.viewbuttons:hover {
  background-color: #4bff93 !important;
}

.report-button {
  color: #faff0e !important;
  font-size: 20px !important;
  gap: 5px;
}
.report-button:hover {
  background-color: transparent !important;
}
.errorloadinguser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 25px;
}
.Reportuser-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
}
.profile-pages-info {
  height: 100%;
  min-height: 100%;
  flex-grow: 1;
}
.profile-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  margin-bottom: 20px;
  min-height: 100%;
}

.overview-container {
  margin-bottom: 40px;
}
.overview-content-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.overview-content-wrapper {
  background-color: #292929;
  width: 330px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-content-gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.red {
  color: #fc3d3d;
}
.green {
  color: #00ff65;
}
.overview-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
  gap: 20px;
  font-family: "Rubik", sans-serif;
}

.overview-stats-winrate {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-size: 25px;
  font-family: "Rubik", sans-serif;
}
.overview-stats-winrate span {
  width: 100px;
}
.overview-stats-wins span {
  width: 70px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  padding: 5px;
}
.overview-stats-points {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;

  padding-right: 10px;
}
.winrate {
  width: 100px;
}
.win {
  font-size: 21px;
  width: 100px;
}
.loss {
  font-size: 21px;
  width: 100px;
}

.pages-overview {
  display: flex;

  align-items: center;
  margin-top: 20px;
}
.pageopen {
  color: #2fd671 !important;
}
.pages-overview button {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: none;
  font-family: "Rubik", sans-serif;

  background-color: transparent;
}
.tournament-content-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 72px;
}
.tournament-content-wrapper {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  width: 73.5%;
  min-height: 700px;
  align-items: center;
}
.tournament-profilecard {
  background-color: #3a3a3a;
  padding: 27px;
  border-radius: 10px;
  margin-top: 20px;
  gap: 60px;
  display: flex;
  color: white;
  align-items: center;
  width: 90%;
  justify-content: center;
  margin-left: 30px;
}
.tournaments-results-wrapper {
  margin-top: 40px;
}
.points-span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tournamentactive {
  color: #2fd671 !important;
}
.notournaments {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
}
.tournament-profilecard-name {
  font-size: 20px;
}
.tournament-profilecard-points {
  display: flex;
  gap: 5px;
  align-items: center;
}
.tournament-profilecard-teamstatus {
  font-size: 20px;
}
.tournaments-results-background {
  background-color: #ffffff;
  min-width: 1000px;
  min-height: 555px;
  border-radius: 15px;
  border: 1px solid #cccccc;
  padding: 0px 100px;
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .profile-navbar-buttons button {
    font-size: 16px;
    padding: 10px;
  }
  .user-info {
    margin-left: 90px;
  }
  .profileImage {
    width: 80px;
    height: 80px;

    top: 25px;
    left: 0px;
  }
  .username-profile {
    font-size: 20px;
  }

  .followerscount-profile {
    font-size: 14px;
  }
  .viewbuttons {
    font-size: 12px !important;
    margin: 5px !important;
    padding: 5px !important;
  }
  .viewbuttons svg {
    width: 14px !important;
    height: 14px !important;
  }
  .report-button {
    font-size: 12px !important;
  }
  .report-button svg {
    width: 14px !important;
    height: 14px !important;
  }
}

@media screen and (max-width: 700px) {
  .coverPhotoContainer {
    position: relative;
    width: 100%;
    height: 60px;
  }
  .shifter {
    margin-right: 0px;
  }
  .user-info {
    margin-left: 65px;
  }
  .profileImage {
    width: 60px;
    height: 60px;

    top: -14px;
    left: 0px;
  }
  .profile-navbar-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .profile-navbar-buttons button {
    font-size: 11px;
    padding: 5px;
  }

  .username-profile {
    font-size: 14px;
  }

  .followerscount-profile {
    font-size: 11px;
  }
  .viewbuttons {
    font-size: 8px !important;
    margin: 1px !important;
    padding: 5px !important;
  }
  .viewbuttons svg {
    width: 8px !important;
    height: 8px !important;
  }
  .report-button {
    font-size: 8px !important;
  }
  .report-button svg {
    width: 8px !important;
    height: 8px !important;
  }
}
