@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

.navbar {
  background-color: #111111;
  display: flex;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Rubik", sans-serif;
}
.nav-burgermenu {
  margin-right: 20px;
  cursor: pointer;
}

.nav-logo img {
  height: 80px;
  width: 80px;
}
.nav-searchbar {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-searchbar svg path {
  fill: #fff;
}
.nav-buttons {
  display: flex;
  gap: 20px;
}
.nav-buttons button {
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-login {
  margin-right: 40px;
}
.nav-login button {
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-circle-img {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.nav-leftelements {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.nav-rightelements {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
.navbar-burgermenu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 200px;
  height: 100%;
  background-color: #202020;
  color: #fff;
  transition: left 0.3s ease-in-out;
  z-index: 100;
  overflow-y: auto;
}

.navbar-burgermenu.show {
  left: 0;
}

.dropdowns-leftnavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.dropdown {
  margin-right: 10px;
}
.search-leftnavbar-wrapper {
  padding: 10px;
}
.search-leftnavbar {
  display: flex;
  background-color: #ffffff10;
  padding: 10px;
  border-radius: 7px;
}
.search-leftnavbar svg path {
  fill: #a4a3a3;
}
.searchinput {
  background-color: transparent;
  border: none;
  color: #a4a3a3;
  width: 90%;
  margin-left: 5px;
}
.searchinput.focused {
  outline: 2px solid #2fd67200;
}
.search-leftnavbar.focused svg path {
  fill: #2fd671;
}
.close-leftnavbar {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.close-leftnavbar svg {
  cursor: pointer;
}
.close-leftnavbar svg:hover path {
  fill: #2fd671;
  animation: neon-shine 0.3s ease-in-out infinite alternate;
}
@keyframes neon-shine {
  0% {
    fill: #37ff87;
  }
  100% {
    fill: #28ac5d;
  }
}
