@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

.navbar {
  background-color: #111111;
  display: flex;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Rubik", sans-serif;
}
.nav-burgermenu {
  margin-right: 10px;
  display: none;
  cursor: pointer;
}
.nav-logo {
  margin-left: 30px;
}
.nav-logo img {
  height: 80px;
  width: 80px;
}
.nav-searchbar {
  display: flex;
  align-items: center;
}
.nav-searchbar svg path {
  fill: #fff;
}
.nav-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.nav-buttons button {
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-login {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-login button {
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-circle-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}
.nav-leftelements {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.nav-rightelements {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
.navbar-burgermenu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 200px;
  height: 100%;
  background-color: #202020;
  color: #fff;
  transition: left 0.3s ease-in-out;
  z-index: 100;
  overflow-y: auto;
}

.navbar-burgermenu.show {
  left: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.dropdowns-leftnavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.dropdowns-leftnavbar-items {
  display: flex;
  flex-direction: column;
  background-color: #ffffff10;
  padding: 10px;
}
.dropdown-item {
  padding: 10px 0px;
  cursor: pointer;
}
.nav-buttons button:hover {
  background-color: #ffffff10;
  color: #3cd679;
  border-radius: 7px;
  padding: 10px 15px;
}
.clicked-navbar {
  background-color: #ffffff10 !important;
  color: #3cd679 !important;
  border-radius: 7px;
  padding: 10px 15px;
}

.dropdown {
  margin-right: 10px;
}
.search-leftnavbar-wrapper {
  padding: 10px;
}
.search-leftnavbar {
  display: flex;
  background-color: #ffffff10;
  padding: 10px;
  border-radius: 7px;
}
.search-leftnavbar svg path {
  fill: #a4a3a3;
}
.searchinput {
  background-color: transparent;
  border: none;
  color: #a4a3a3;
  width: 90%;
  margin-left: 5px;
}
.searchinput.focused {
  outline: 2px solid #2fd67200;
}
.search-leftnavbar.focused svg path {
  fill: #2fd671;
}
.close-leftnavbar {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.close-leftnavbar svg {
  cursor: pointer;
}
.close-leftnavbar svg:hover path {
  fill: #2fd671;
  animation: neon-shine 0.3s ease-in-out infinite alternate;
}
.leftnavbar-logo {
  display: flex;
  justify-content: center;
}
.leftnavbar-logo img {
  width: 100px;
  height: 100px;
}
.profilepic-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttondropdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes neon-shine {
  0% {
    fill: #37ff87;
  }
  100% {
    fill: #28ac5d;
  }
}
.navbarsearch-wrapper {
  padding: 10px;
  width: 300px;
}
.navbarsearch {
  display: flex;
  background-color: #ffffff10;
  padding: 15px;

  border-radius: 7px;
}
.navbarsearch svg path {
  fill: #a4a3a3;
}
.navbarsearchinput {
  background-color: transparent;
  border: none;
  color: #a4a3a3;
  width: 100%;
  margin-left: 5px;
}
.navbarsearchinput.focused {
  outline: 2px solid #2fd67200;
}
.navbarsearch.focused svg path {
  fill: #2fd671;
}
.search-results {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-height: 200px;
  min-width: 290px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: scroll;
  position: absolute;
  top: auto;
}

.linkusercardsearchinputnavbar {
  text-decoration: none;
  width: 280px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 1251px) and (max-width: 1450px) {
  .nav-buttons {
    gap: 5px;
  }
  .nav-rightelements {
    gap: 10px;
  }
  .nav-login {
    margin-right: 5px;
  }
}
@media screen and (max-width: 1250px) {
  .nav-burgermenu {
    display: block;
  }
  .nav-buttons {
    display: none;
  }

  .nav-login {
    margin-right: 0px;
  }
  .nav-logo {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .nav-searchbar {
    display: none;
  }
}
