@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
.Footer {
  background-color: #111111;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: space-between;
}
.footer-logo img {
  width: 160px;
  height: 160px;
}
.footer-leftelements {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-socialmedia {
  display: flex;

  justify-content: center;
  gap: 25px;
  align-items: center;
}

.footer-rightelements {
  margin-right: 80px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.footer-menu-container {
  gap: 70px;
  display: flex;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #2fa860;
  font-weight: lighter;
  align-items: center;
}
.footer-title {
  color: rgb(56, 255, 135);
  font-weight: bolder;
  font-size: 18px;
}
.footer-copyright {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  .Footer {
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
    width: 100%;
  }
  .footer-leftelements {
    margin-left: 0px;
  }

  .footer-logo img {
    width: 100px;
    height: 100px;
  }

  .footer-leftelements {
    margin-left: 20px;
    gap: 10px;
  }

  .footer-socialmedia {
    gap: 15px;
  }
  .footer-socialmedia svg {
    width: 20px;
    height: 20px;
  }
  .footer-rightelements {
    margin-right: 25px;

    gap: 30px;
  }

  .footer-menu-container {
    gap: 20px;
  }

  .footer-menu {
    gap: 10px;
    font-size: 12px;
  }

  .footer-title {
    font-size: 16px;
  }

  .footer-copyright {
    gap: 5px;
  }
  .footer-copyright svg:first-child {
    width: 20px;
    height: 20px;
  }
  .footer-copyright svg:nth-child(2) {
    width: 180px;
    height: 20px;
  }
}
