.tournament-card {
  width: 300px;
  height: 494px;

  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
}

.tournament-card:hover {
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 15px 19px rgba(30, 67, 48, 0.238);
}

.tournament-image {
  width: 100%;
  height: 100%;
}

.info-container {
  width: 100%;
  background-color: #252525;
  color: #ffffff;
  padding: 1px;
  box-sizing: border-box;
}

.tournament-name {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 12px;
}
.tournament-completed {
  font-size: 14px;
  font-family: "Rubik", sans-serif;

  margin-left: 12px;
  margin-top: 10px;
}

.tournament-startdate {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-align: right;
  margin-top: auto;
  margin-bottom: 13px;
  color: #a0ffaa;
  margin-right: 13px;
}
