.TournamentsPageResult {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 100%;

  background-color: #f2f5f8;
}

.tournamentheader-wrapper {
  display: flex;
  width: 100%;
}

.tournamentheader-info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.tournamentheader-image-container {
  width: 320px;
  height: 430px;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.492);
}

.tournamentheader-image-container img {
  width: 100%;
  height: 100%;
  outline: 10px solid #2fd671;
  border-radius: 15px;
}

.tournamentheader-info-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tournament-navinfo {
  height: 70px;
  margin-top: 20px;
  display: flex;
  margin-left: 15px;
}

.tournament-navinfo button {
  background-color: transparent;
  border: none;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  padding: 0px 20px;
}

.tournament-navinfo button:hover {
  color: #2fd671;
}

.tournamentheader-enroll button {
  font-weight: bolder;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 12px;
  background-color: #2fd671;
  color: #202020;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 10px 12px rgb(0 0 0 / 40%);
}

.tournamentheader-enroll {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.tournamentheader-enroll button:hover {
  background-color: #269c55;
  color: #ffffff;
}

.tournamentheader-name {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  padding-left: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.tournamentheader-game {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
  width: 300px;
  background-color: #ffffff1f;
  padding: 15px;
  border-radius: 8px;
}

.tournamentheader-gamemode {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
  width: 300px;
  background-color: #ffffff1f;
  padding: 15px;
  border-radius: 8px;
}

.tournamentheader-region {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
  width: 300px;
  background-color: #ffffff1f;
  padding: 15px;
  border-radius: 8px;
}

.tournamentheader-enddate {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
  width: 300px;
  background-color: #ffffff1f;
  padding: 15px;
  border-radius: 8px;
}

.tournamentheader-points {
  color: #2fd671;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
  width: 660px;
  background-color: #ffffff1f;
  padding: 15px;
  border-radius: 8px;
}
.tournamentheader-startdate {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-between;
  width: 300px;
  background-color: #ffffff1f;
  padding: 15px;
  border-radius: 8px;
}
.navinfoactive {
  color: #2fd671 !important;
}
.tournament-brackets {
  background-color: #ffffff;
  width: 70%;
  height: 550px;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  border: 2px solid #cccccc;
  border-radius: 15px;
  margin-left: 15px;
}
.tournament-rules {
  background-color: #ffffff;
  width: 70%;
  height: 550px;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  border: 2px solid #cccccc;
  border-radius: 15px;
  margin-left: 15px;
}
.tournament-teams {
  background-color: #ffffff;
  width: 70%;
  height: 550px;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  border: 2px solid #cccccc;
  border-radius: 15px;
  margin-left: 15px;
}

.rules {
  background-color: #fff;
  height: 400px;
  width: 70%;
  padding: 0px 20px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  overflow: auto;
}

.tournament-enroll-close {
  cursor: pointer;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tournament-enroll {
  background-color: #181818;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  overflow: auto;
}

.tournament-invitations {
  box-sizing: border-box;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tournament-enroll-svg {
  background-color: #181818;
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-invite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.header-invite span {
  color: #fff;
  font-size: 25px;
}

.button-invite {
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: #2fd671;
  color: #202020;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-invite:hover {
  background-color: #269c55;
  color: #ffffff;
}
.send-invitation-input {
  padding: 10px 20px;
}
.tournament-invitation-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.send-invitation {
  display: flex;

  align-items: center;
  margin-top: 20px;
}
.team-members-list {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  max-height: 200px;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
}
.team-members-usercard {
  width: 300px;
}
.invited-error {
  padding: 20px;

  display: flex;
  align-items: center;
  color: rgb(159, 159, 159);
}

.errormsg-createteam {
  color: #ff4b4b;
}

.CreateTeam {
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  background-color: #2fd671;
  color: #202020;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateTeam:hover {
  background-color: #269c55;
  color: #ffffff;
}
.tournament-team-creation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
}
.teamname-creation {
  padding: 10px 20px;
}
.teamname-span {
  color: white;
  font-size: 20px;
}
.teammax-span {
  color: white;
  font-size: 20px;
}
.tournament-teamname-creation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tournament-error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
}
.errorpage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tournament-leftsection {
  width: 60%;
  height: 100%;
}
.tournament-rightsection {
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}
.blackbackground {
  height: 370px;
  padding-bottom: 5px;
  background-color: black;
}
.leftsection-imageabsolute {
  position: absolute;
  top: 200px;
  left: 350px;
}
.tournamentgamegamemode {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.greycolor-tournament {
  color: #b8b8b8 !important;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
.label-tournament {
  font-weight: bold;
  font-size: 16px;
}
.tournamentregion-startdate {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.tournamentheader-pointsystem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 23px;
}
.greencolor-tournament {
  color: #2cbb65 !important;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
p {
  color: black;
}
.rules-title {
  text-align: center;
}
