.TournamentsPage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navcommunity-Leaderboards {
  background-color: #111111;
  display: flex;
  flex-direction: column;
}
.navcommunity-Leaderboards-noprofile {
  background-color: #111111;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navcommunity-Leaderboards-noprofile button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  padding: 20px 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunity-Leaderboards-noprofile button:hover {
  color: #2fd671;
}

.navcommunity-Leaderboards button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  padding: 20px 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunity-Leaderboards button:hover {
  color: #2fd671;
}
.searchleaderboards-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 30px;
  width: 320px;
}
.searchleaderboards-results {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.searchleaderboards-iconsvg {
  margin-left: 10px;
}
.searchleaderboards-icon {
  fill: #9e9e9e;
}
.searchgamesbar {
  margin-left: 5px;
}
.searchgamesbar {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  max-width: 700px;
  position: relative;
  margin-right: 30px;
  background-color: white;
}
.searchgamesinput {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: medium;
}
.searchgamesinput:focus {
  outline: none !important;

  font-weight: 550;
}
.searchgamesbar.focused {
  border: 3px solid #269c55;
}

.searchleaderboards-icon.focused {
  fill: #269c55;
}
.thispage {
  color: #2fd671 !important;
}
.image-leaderboard {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.entries-leaderboard {
  background-color: #292929;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entries-wrapper {
  width: 70%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.first {
  background-color: #fae20e;
  color: #000000;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  font-style: italic;
  font-weight: bolder;
}
.second {
  background-color: #7da6a9;
  color: #000000;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  font-style: italic;
  font-weight: bolder;
}
.third {
  background-color: #b67856;
  color: #000000;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  font-style: italic;
  font-weight: bolder;
}
.extras {
  background-color: #e0e0e0;
  color: #000000;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  font-style: italic;
  font-weight: bolder;
}
.square {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 65px;
  border-radius: 0 7px 7px 0;
}
.user-leaderboardinfo-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 60px;
  margin-top: 20px;
}
.userleaderboard-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 20px;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
.red {
  color: #fc3d3d;
}
.green {
  color: #00ff65;
}
.navcommunity-leaderboard-margin {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
.navcommunity-leaderboard-noprofilemargin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.entry-imgusername {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.entry-username {
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.entry-score {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;

  font-size: 30px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
.entry-score div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.entry-score div span {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}
.searchleaderboardbuttonswrapper {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .navcommunity-leaderboard-margin {
    display: flex;
    margin-right: 0px;
  }
  .userleaderboard-info {
    gap: 5px;
    font-size: 16px;
  }
  .navcommunity-leaderboard-margin button {
    font-size: 16px;
  }
  .user-leaderboardinfo-wrapper {
    margin-right: 0px;
  }
}
