@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
h2 {
  text-align: center;
}
body {
  font-family: "Rubik", sans-serif;
}
.data-cards-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.data-card {
  width: 200px;
  height: 80px;
  color: #5a58589f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
  margin: 2px;
}
.data-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.data-card-number {
  color: #5a5858;
  font-size: 20px;
}
.lightblue {
  background-color: #76fff7;
}
.lightgreen {
  background-color: #76ffce;
}
.lightforestgreen {
  background-color: #91ff76;
}
.card-img {
  margin-left: 20px;

  border-radius: 50%;
  border: 3px solid #269c55;
  width: 45px;
  height: 45px;
}
.chart-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
  gap: 10px;
  margin-top: 10px;
}

.chart {
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 90%;
}
.canvas-container {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.charttitle-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
.charttitle {
  font-weight: 500;
  font-size: 25px;
  color: #5a58589f;
}

@media (max-width: 700px) {
  .charttitle {
    font-size: 15px;
  }

  .chart {
    flex-direction: column;
    padding: 8px;
  }

  .canvas-container {
    max-width: none;
  }
}
