@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
h2 {
  text-align: center;
}
.data-cards-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.data-card {
  width: 180px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}
