@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}
.searchgames-iconsvg {
  margin-left: 10px;
}
.searchgames-icon {
  fill: #9e9e9e;
}
.searchgamesbar {
  margin-left: 5px;
}
.searchgamesbar {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80%;
  max-width: 500px;
  position: relative;
}
.searchgamesinput {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 90%;
  font-size: medium;
}
.searchgamesinput:focus {
  outline: none !important;

  font-weight: 550;
}
.games-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.games-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}
.add-game {
  width: 300px;
  height: 452px;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  box-shadow: 2px 10px 12px rgb(0 0 0 / 40%);

  cursor: pointer;
}
.add-game:hover {
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 15px 19px rgba(30, 67, 48, 0.238);
}

.game-card {
  width: 300px;
  height: 452px;

  box-shadow: 2px 10px 12px rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
}
.game-card:hover {
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 15px 19px rgba(30, 67, 48, 0.238);
}

.game-image {
  width: 100%;
  height: 100%;
}

.game-name {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2fd671;
  color: #000000;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 35%;
  height: 85%;
  max-width: 80%;
  max-height: 90%;
  overflow-y: auto;

  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.close-modal:hover svg path {
  fill: #269c55;
}
.imageinput {
  display: none;
}
.gameuploadimage {
  cursor: pointer;
  width: 300px;
  height: 400px;
  border-radius: 15px;
}
input[type="text"],
input[type="number"] {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 600px;
  padding: 10px;
  border: none;
  background-color: rgba(242, 242, 242, 0.8);
  border-radius: 3px;
  width: 75%;
}
input[type="number"] {
  margin-top: 5px;
}
input[type="text"]:focus {
  outline: 2px solid #269c55;
}
input[type="number"]:focus {
  outline: 2px solid #269c55;
}
.modal-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
.modal-input label {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;

  width: 80%;
}
.addgamemode {
  margin-top: 5px;
  display: flex;
  width: 80%;
  align-items: center;
}
.gamemode-title {
  font-weight: 500;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  border-radius: 7px;
  background-color: #2fd671;
  color: #202020;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #269c55;
  color: #ffffff;
}
.addgamemodebutton {
  padding: 10px;
  color: #ffffff;
  margin-left: 5px;
  font-weight: 500;
}
.creategame {
  font-weight: 600;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.gamemodelist {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.gamemodeinputs {
  margin-left: 40px;
}
.game-mode-name {
  margin-top: 5px;
  width: 60% !important;
}
.team-count {
  width: 60% !important;
}
.remove-game-mode {
  padding: 10px;
  color: #ffffff;
  background-color: #d62f2f;
  margin-left: 5px;
  font-weight: 500;
  margin-top: 5px;
}
.remove-game-mode:hover {
  padding: 10px;
  color: #ffffff;
  background-color: #a12222;
  margin-left: 5px;
  font-weight: 500;
}
.errormessage {
  color: red;
}
.gamemode-labels {
  margin-top: 5px;
}

@media screen and (max-width: 650px) {
  .modal-content {
    width: 80%;
    height: 80%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
    position: relative;
  }

  .gamemodeinputs {
    margin-left: 0px;
  }
  .addgamemode {
    margin-left: 0px;
  }
  .game-mode-name {
    width: 95% !important;
  }
  .team-count {
    width: 95% !important;
  }
}
