@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.top-navbar {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
}

.left-navbar {
  width: 230px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.ichallengerlogo-dashboard {
  height: 80px;
  width: 80px;
}
.leftnavbar-logo {
  display: flex;
  margin-left: 75px;
  margin-top: -10px;
}
.leftnavbar-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.leftnavbar-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 15px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9e9e9e;
  display: flex;
  align-items: center;
}
.adminpanel-span {
  margin-top: 20px;
  color: #269c55;
  margin-left: 35px;
  font-size: 25px;
  font-weight: 500;
}
.leftnavbar-button:hover {
  background-color: #9e9e9e49;
  color: #269c55;
}
.leftnavbar-button:hover .leftnavbar-svg path {
  fill: #269c55;
}
.leftnavbar-button:hover .dashboard-path {
  fill: #269c55;
}
.logout-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 10px;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #111111;
  display: flex;
  align-items: center;
}
.logout-button:hover {
  background-color: #9e9e9e49;
}

.leftnavbar-svg {
  margin-right: 10px;
}
.dashboard-svg {
  margin-right: 10px;
}
.logout-svg {
  margin-right: 10px;
}
a {
  color: #9e9e9e;
  text-decoration: none;
  cursor: pointer;
}
.cla .topnavbar-logo {
  margin-left: 20px;
}
.admin-burgermenu {
  margin-left: 10px;
  cursor: pointer;
}
.close-leftnavbar {
  position: absolute;
  margin-top: -5px;
  margin-left: 150px;
  display: none;
}
.searchbar {
  margin-left: 100px;
  border: 3px solid #269c55;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 600px;
}
.searchinput {
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 80%;
  font-size: medium;
}
.searchinput:focus {
  outline: none;
  font-weight: 600;
}
.search-iconsvg {
  margin-left: 10px;
}
.search-icon {
  fill: #9e9e9e;
}
.Avatar {
  border-radius: 50%;
  border: 3px solid #269c55;
  width: 50px;
  height: 50px;
}
.Avatar-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
}
.Avatar-wrapper {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.avatarusername {
  margin-left: 10px;
  margin-right: 20px;
}
#username {
  color: #9e9e9e;
  font-weight: 500;
}
#dashboard-button {
  padding-right: 58px;
}
#tournaments-button {
  padding-right: 40px;
}
#games-button {
  padding-right: 90px;
}
#users-button {
  padding-right: 100px;
}
#emails-button {
  padding-right: 92px;
}
#website-button {
  padding-right: 82px;
}
@media screen and (max-width: 400px) {
  .left-navbar {
    width: 60%;
    left: -100%;
    transition: left 0.3s ease;
  }
  .ichallengerlogo-dashboard {
    display: none;
  }
  .leftnavbar-logo {
    display: flex;
    margin-left: 45px;
    margin-top: -10px;
  }
  .Avatar-container {
    display: none;
  }
  .searchbar {
    margin-left: 5px;
  }
  .close-leftnavbar {
    display: flex;
    cursor: pointer;
  }
  .logout-button {
    margin-left: 10px;
  }
  .adminpanel-span {
    margin-top: 20px;
    color: #269c55;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
  }
  .leftnavbar-button {
    margin-left: 10px;
  }
  #dashboard-button {
    padding-right: 26px;
  }
  #tournaments-button {
    padding-right: 8px;
  }
  #games-button {
    padding-right: 57px;
  }
  #users-button {
    padding-right: 67px;
  }
  #emails-button {
    padding-right: 59px;
  }
  #website-button {
    padding-right: 49px;
  }
}

@media screen and (min-height: 800px) {
  .logout-button {
    margin-top: 200px;
  }
  .leftnavbar-button {
    margin-bottom: 10px;
    padding: 20px;
  }
}
