@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
h2 {
  text-align: center;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}
.searchtournaments-iconsvg {
  margin-left: 10px;
}
.searchtournaments-icon {
  fill: #9e9e9e;
}
.searchtournamentsbar {
  margin-left: 5px;
}
.searchtournamentsbar {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80%;
  height: 40px;
  max-width: 500px;
  position: relative;
}
.searchtournamentsinput {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 90%;
  font-size: medium;
}
.searchtournamentsinput:focus {
  outline: none !important;

  font-weight: 550;
}
.pages {
  display: flex;

  flex-wrap: wrap;
}

.pages button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #000000;
  border: none;
  font-size: large;
  font-weight: 700;
  border-bottom: 3px solid #989898;
}
.fetchedresults-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}
.results-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.createtournament-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.createtournament-container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  width: 200px;
}

.form-input,
.form-textarea {
  width: 210px;

  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #000000;
}

.form-select {
  width: 230px;

  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #000000;
}

.form-textarea {
  overflow: auto;
}

.form-input:focus,
.form-textarea:focus {
  outline: 2px solid #269c55;
}

.tournament-create-button {
  font-weight: 600;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.tournament-create-button {
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  border-radius: 7px;
  background-color: #2fd671;
  color: #202020;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tournament-create-button:hover {
  background-color: #269c55;
  color: #ffffff;
}
.errormsg {
  margin-top: 5px;
  color: red;
}

.tournament-card {
  width: 215px;
  height: 230px;
  border: 3px solid #252525;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.tournament-card:hover {
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 15px 19px rgba(30, 67, 48, 0.238);
}

.tournament-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* 
.tournament-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #252525;
  color: #a0ffaa;
  font-size: 20px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
} */
.info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #252525;
  color: #a0ffaa;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.tournament-name,
.tournament-completed {
  font-size: 14px;
}

.tournament-startdate {
  text-align: right;
  font-size: 12px;
  margin-top: auto;
}

.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;

  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 85%;
  max-width: 80%;
  max-height: 90%;
  overflow-y: auto;

  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.close-modal:hover svg path {
  fill: #269c55;
}
.match-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.updatetournament-pages {
  display: flex;
}

@media screen and (min-width: 1300px) {
  .tournament-card {
    width: 230px;
    height: 230px;
  }
}
