@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
h2 {
  text-align: center;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}
.searchusers-iconsvg {
  margin-left: 10px;
}
.searchusers-icon {
  fill: #9e9e9e;
}
.searchusersbar {
  margin-left: 5px;
}
.searchusersbar {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80%;
  height: 40px;
  max-width: 500px;
  position: relative;
}
.searchusersinput {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 90%;
  font-size: medium;
}
.searchusersinput:focus {
  outline: none !important;

  font-weight: 550;
}
.pages {
  display: flex;

  flex-wrap: wrap;
}

.pages button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #000000;
  border: none;
  font-size: large;
  font-weight: 700;
  border-bottom: 3px solid #989898;
}
.results-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.fetchedresults-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 20px;
}
.fetchedresults {
  margin-top: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  color: #000000;
  font-weight: 550;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.fetchedresults p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fetchedresults button {
  align-self: flex-end;
  cursor: pointer;
  border: none;
  background-color: #2fd671;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.fetchedresults button:hover {
  filter: brightness(90%);
}
.fetchedresults p.message {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}
.fetchedresults-reports p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fetchedresults-reports {
  margin-top: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  color: #000000;
  font-weight: 550;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.fetchedresults-reports button {
  align-self: flex-end;
  cursor: pointer;
  border: none;
  background-color: #2fd671;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.fetchedresults-reports button:hover {
  filter: brightness(90%);
}
.fetchedresults-reports p.message {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}
.ban {
  cursor: pointer;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  background-color: #d62f2f !important;
}

.unban {
  cursor: pointer;
  border: none;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  background-color: #2fd671 !important;
}
.message-popup {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;

  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
@media screen and (max-width: 400px) {
  .pages {
    margin-right: 0px;
  }
  .pages button {
    padding-left: 10px;
    padding-right: 10px;
  }
}
