@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
h2 {
  text-align: center;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}
.searchusers-iconsvg {
  margin-left: 10px;
}
.searchusers-icon {
  fill: #9e9e9e;
}
.searchusersbar {
  margin-left: 5px;
}
.searchusersbar {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80%;
  height: 40px;
  max-width: 500px;
  position: relative;
}
.searchusersinput {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 90%;
  font-size: medium;
}
.searchusersinput:focus {
  outline: none !important;

  font-weight: 550;
}
.pages {
  display: flex;
  margin-right: 40px;
  flex-wrap: wrap;
}

.pages button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #000000;
  border: none;
  font-size: large;
  font-weight: 700;
  border-bottom: 3px solid #989898;
}
.results-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.fetchedresults-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.fetchedresults {
  margin-top: 10px;
  background-color: #eeecec;
  padding: 10px;
  color: #000000;
  font-weight: 600px;
  border-radius: 10px;
}
.ban {
  cursor: pointer;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  background-color: #d62f2f;
}
.ban:hover {
  background-color: #a12222;
}
.unban {
  cursor: pointer;
  border: none;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  background-color: #2fd671;
}
.unban:hover {
  background-color: #269c55;
}

@media screen and (max-width: 400px) {
  .pages {
    margin-right: 0px;
  }
  .pages button {
    padding-left: 10px;
    padding-right: 10px;
  }
}
