.TournamentsSearch {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navcommunity {
  background-color: #252525;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navcommunity button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2fd671;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunity button:hover {
  color: #2fd671;
}
.searchtournaments-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 30px;
  width: 340px;
}
.searchtournaments-results {
  margin-top: 30px;
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 150px;

  margin-bottom: 60px;
  margin-top: 60px;
}
.searchtournaments-iconsvg {
  margin-left: 10px;
}
.searchtournaments-icon {
  fill: #9e9e9e;
}

.searchgamesbar {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  max-width: 700px;
  position: relative;
  margin-right: 30px;
  background-color: white;
}
.searchgamesinput {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: medium;
}
.searchgamesinput:focus {
  outline: none !important;

  font-weight: 550;
}
.searchgamesbar.focused {
  border: 3px solid #269c55;
}

.searchtournaments-icon.focused {
  fill: #269c55;
}
.thispage {
  color: #2fd671 !important;
}
.user-leaderboardinfo-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  margin-right: 60px;
  margin-top: 20px;
}
.userleaderboard-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 20px;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
.userleaderboard-info span {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}
.red {
  color: #fc3d3d;
}
.green {
  color: #00ff65;
}
.tournamentnavcommunity-leaderboard-margin {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
.tournamentnavcommunity-leaderboard-noprofilemargin {
  display: flex;
}
.tournamentnavcommunity-Leaderboards-noprofile {
  background-color: #111111;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.tournamentnavcommunity-Leaderboards-noprofile button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2fd671;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.tournamentnavcommunity-Leaderboards-noprofile button:hover {
  color: #2fd671;
}
.tournamentnavcommunity-Leaderboards {
  background-color: #111111;
  display: flex;
  flex-direction: column;
}
.tournamentnavcommunity-Leaderboards button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.tournamentnavcommunity-Leaderboards button:hover {
  color: #2fd671;
}
.searchbuttonswrapper {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
@media screen and (max-width: 1200px) {
  .tournamentnavcommunity-leaderboard-margin {
    display: flex;
    margin-right: 0px;
  }
  .userleaderboard-info {
    gap: 5px;
    font-size: 16px;
  }
  .tournamentnavcommunity-leaderboard-margin button {
    font-size: 16px;
  }
  .user-leaderboardinfo-wrapper {
    margin-right: 0px;
  }
}
