.TournamentsSearch {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navcommunity {
  background-color: #252525;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navcommunity button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2fd671;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunity button:hover {
  background-color: #393939;
}
.searchtournaments-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchtournaments-results {
  margin-top: 30px;
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.searchtournaments-iconsvg {
  margin-left: 10px;
}
.searchtournaments-icon {
  fill: #9e9e9e;
}
.searchgamesbar {
  margin-left: 5px;
}
.searchgamesbar {
  margin-top: 10px;
  margin-left: 15px;
  border: 3px solid #9e9e9e;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 80%;
  max-width: 500px;
  position: relative;
}
.searchgamesinput {
  background-color: transparent;
  margin-left: 10px;
  border: none;
  padding: 5px;
  width: 90%;
  font-size: medium;
}
.searchgamesinput:focus {
  outline: none !important;

  font-weight: 550;
}
.searchgamesbar.focused {
  border: 3px solid #269c55;
}

.searchtournaments-icon.focused {
  fill: #269c55;
}
.thispage {
  background-color: #393939 !important;
}
.user-leaderboardinfo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 100px;
}
.userleaderboard-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
  font-size: 22px;
  font-family: "Rubik", sans-serif;
}
.red {
  color: #fc3d3d;
}
.green {
  color: #00ff65;
}
.navcommunity-leaderboard-margin {
  display: flex;
  margin-right: 400px;
}
.navcommunity-leaderboard-noprofilemargin {
  display: flex;
}
.navcommunity-Leaderboards-noprofile {
  background-color: #252525;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.navcommunity-Leaderboards-noprofile button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2fd671;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunity-Leaderboards-noprofile button:hover {
  background-color: #393939;
}
.navcommunity-Leaderboards {
  background-color: #252525;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.navcommunity-Leaderboards button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2fd671;
  font-size: 20px;
  padding: 20px 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.navcommunity-Leaderboards button:hover {
  background-color: #393939;
}
@media screen and (max-width: 1200px) {
  .navcommunity-leaderboard-margin {
    display: flex;
    margin-right: 0px;
  }
  .userleaderboard-info {
    gap: 5px;
    font-size: 16px;
  }
  .navcommunity-leaderboard-margin button {
    font-size: 16px;
  }
  .user-leaderboardinfo-wrapper {
    margin-right: 0px;
  }
}
