<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>iChallenger - Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="stylesheet" href="../css/loading.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2>Dashboard</h2>
    <div class="data-cards-container">
      <div id="loading"><span class="spinner"></span></div>
    </div>
    <script src="../js/auth.js"></script>
    <script src="../js/dashboard.js"></script>
  </body>
</html>
