<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>iChallenger - Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
  </head>
  <body>
    <h2>Dashboard</h2>
    <div class="data-cards-container">
      <div class="data-card lightblue">
        <div class="data-card-info">
          <span class="data-card-number" id="usersnumber">0</span>
          <span>Total Users</span>
        </div>
        <img class="card-img" src="../assets/images/users.png" />
      </div>
      <div class="data-card lightgreen">
        <div class="data-card-info">
          <span class="data-card-number" id="tournamentsnumber">0</span>
          <span>Tournaments</span>
        </div>
        <img class="card-img" src="../assets/images/champion.png" />
      </div>
      <div class="data-card lightforestgreen">
        <div class="data-card-info">
          <span class="data-card-number" id="uploadsnumber">0</span>
          <span>User Uploads</span>
        </div>
        <img class="card-img" src="../assets/images/posts.png" />
      </div>
    </div>
    <div class="chart-container">
      <div class="chart">
        <div class="charttitle-container">
          <span class="charttitle"
            >Geographic Distribution of Platform Users by Country</span
          >
        </div>
        <div class="canvas-container">
          <canvas id="ColumnChart"></canvas>
        </div>
      </div>
      <div class="chart">
        <div class="charttitle-container">
          <span class="charttitle"
            >Distribution of Tournaments by Games Played</span
          >
        </div>
        <div class="canvas-container">
          <canvas id="PieChart"></canvas>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="../js/dashboard.js"></script>
  </body>
</html>
